// Utilities
@import "utilities/variables";

.header {
  position:absolute;
  height:$header-height;
  width:100%;
  background: $primary-color;
}

.brand-logo {
  width:163px;
  float:left;
  background: $primary-color;
}

ul.navs.navbar-nav{
  padding-left:7px;
  margin: 0px;
  li { 
    width: 44px;
    line-height: $header-height;
    height: $header-height;
    text-align: center;
    cursor: pointer;
    list-style-type: none;
    .icon {
      font-size: 21px;
      color: #fff;
      line-height: $header-height;
    }
  }
}

.navbar-form .submit-btn{
  width:30px;
  height:30px;
  padding: 5px 6px 7px 6px;
  background:#FFF;
  background-repeat:no-repeat;
  cursor:pointer;
  font-size: 18px;
  color: $primary-color;
}

.ordering_top_login{
  height:18px;
  padding-top:18px;
  padding-bottom:18px;
  float:left;
  color:#FFF;
  text-align:right;
  font-size:14px;
  line-height:18px;
}

.ordering_top_login a{
  color:#FFF;
  text-decoration:none;
}


.ordering_top_login a:hover{
  text-decoration:underline;
}
