@import "utilities/variables";

.header {
  position:absolute;
  height:$header-height;
  width:100%;
  background: $primary-color;
}

.brand-logo {
  width:163px;
  float:left;
  background: $primary-color;
}

ul.navs.navbar-nav{
  padding-left:7px;
  margin: 0px;
  li { 
    width: 44px;
    line-height: $header-height;
    height: $header-height;
    text-align: center;
    cursor: pointer;
    list-style-type: none;
    .icon {
      font-size: 21px;
      color: #fff;
      line-height: $header-height;
    }
  }
}

.navbar-form { padding-right: 0px;}
.navbar-form .submit-btn{
  padding: 5px 6px 7px 6px;
  background:#FFF;
  cursor:pointer;
  font-size: 18px;
  color: $primary-color;
}