<ul class="nav nav-tabs">

  <li title="" rel="" class="icon index_collection_link active">
    <a class="pjax" href=""> <i class="icon-th-list"></i> <span>查看所有财务信息</span> </a>
  </li>

  <li title="" rel="" class="icon new_collection_link  ">
    <a class="pjax" href=""> <i class="icon-plus"></i> <span></span> </a>
  </li>

</ul>
<ul class="nav nav-tabs"><font color= "red"><b>平台成功交易额:<%= @sold_price%>元</b></font></ul>