 <div class="span2" id="menu_li">
     <div class="well sidebar-nav">
          <ul class="nav nav-list">
	           <li class="nav-header">平台管理</li>
	           <li class="my_menu_link">
	           			<a href="/admins/stores"><i class="icon-home"></i> 商家</a>
	           </li>
	           <li class="dropdown my_menu_link">	
	               <a class="dropdown-toggle" data-toggle="collapse" data-target="#help-dropdown" href="#"><i class="icon-user"></i> 用户 <b class="caret"></b></a>
			          <ul id="help-dropdown" class="collapse">
			            <li><a href="/admins/users">吃客 </a></li>
			            <li><a href="/admins/store_users">店长</a></li>
			          </ul>
	           </li>
	           <li class="my_menu_link">
	           		<a href="/admins/orders"><i class="icon-shopping-cart"></i> 订单</a>
	           </li> 
	           <li class="my_menu_link">
	           		<a href="#"><i class="icon-comment"></i> 投诉</a>
	           </li>
	            <li class="my_menu_link">
	           		<a href="/admins/messages"><i class="icon-file"></i> 留言</a>
	           </li>
	           <li class="my_menu_link">
	           		<a href="/admins/vmails"><i class="icon-envelope"></i> 邮件</a>
	           </li> 
	           <li class="my_menu_link">
	           		<a href="/admins/ads"><i class="icon-film"></i> 广告</a>
	           </li> 
	            <li class="my_menu_link">
	           		<a href="/admins/notices"><i class="icon-film"></i> 公告</a>
	           </li> 
	           <li class="my_menu_link">
	           		<a href="/admins/phone_lists"><i class="icon-film"></i> 短信记录</a>
	           </li> 
	           <li class="my_menu_link">
	           		<a href="/admins/station_mails/"><i class="icon-envelope"></i> 站内信</a>
	           </li>  
	             <li class="my_menu_link">
	           		<a href="/admins/activities"><i class="icon-hand-up"></i>兑奖活动</a>
	           </li>
	             <li class="my_menu_link">
	           		<a href="/admins/schools"><i class="icon-headphones"></i>学校管理</a>
	           </li>
           </ul>
            <ul class="nav nav-list">
	           <li class="nav-header">超级管理员</li>
	            <li class="my_menu_link">
	           		<a href="#"><i class=" icon-user"></i> 管理员</a>
	           </li>  
	            <li class="my_menu_link">
	           		<a href="#"><i class="icon-pencil"></i> 操作日志</a>
	           </li>  
	            <li class="my_menu_link">
	           		<a href="/admins/finance"><i class="icon-eye-open"></i> 平台交易额</a>
	           </li>  
           </ul>
     </div>
</div>