<link href="/css/aboutus.css" rel="stylesheet" type="text/css" />
<div class="aboutus_left">
	<div class="aboutus_title"><img src="/images/about/aboutus.png" width="170" height="40" />
	</div>
	<ul>
		<li>
			<a href="/about_us/aboutus">微大学</a>
		</li>
		<li>
			<a href="/about_us/dianrui">点睿科技</a>
		</li>
		<li>
			<a href="/about_us/contactus">联系我们</a>
		</li>
		<li>
			<a href="/about_us/joinus">商家/广告招商</a>
		</li>
		<li>
			<a href="#">使用手册</a>
		</li>
		<li>
			<a href="/about_us/legal">法律声明</a>
		</li>
	</ul>
</div>
