<body>

	<div class="aboutus_base">
		<div class="aboutus_main">
			<%= render 'left' %>
			<div class="aboutus_right">

				<div>
					<p style="line-height:150%">
						<b><span style="font-size:14.0pt;line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
						mso-bidi-font-family:Tahoma;color:#601606;mso-themecolor:accent1; margin-left:40px; text-indent:2em;mso-themeshade:
						191">关于微大学</span></b><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot; margin-left:10px;
						mso-bidi-font-family:Tahoma;color:#999;mso-themecolor:background1;
						mso-themeshade:217">About us</span><b><span lang="EN-US" style="font-size:14.0pt;line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
						mso-bidi-font-family:Tahoma;color:#365F91;mso-themecolor:accent1;mso-themeshade:
						191"><o:p></o:p></span></b>
					</p>

					<p style="line-height:150%">
						<span lang="EN-US" style="font-size:9.0pt;line-height:
						150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;color:#333333;
						mso-no-proof:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “</span><span style="font-size:9.0pt;line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
						mso-bidi-font-family:Tahoma;color:#333333;mso-no-proof:yes">微大学<span lang="EN-US">”</span>总结现有的网上订餐平台的成功经验和不足之处，力求探索出一套属于大学生自己的便捷订餐服务；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="line-height:150%">
						<span lang="EN-US" style="font-size:9.0pt;line-height:
						150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;color:#333333">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “</span><span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333">微大学<span lang="EN-US">”</span>追求帮大学生省钱的理念，全方位为广大学生搭建经济实惠的餐饮消费平台，少花钱，享实惠；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="line-height:150%">
						<span lang="EN-US" style="font-size:9.0pt;line-height:
						150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;color:#333333;
						mso-no-proof:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “</span><span style="font-size:9.0pt;line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
						mso-bidi-font-family:Tahoma;color:#333333;mso-no-proof:yes">微大学<span lang="EN-US">”</span>让吃饭不再遥远，为您节省时间，体验周到的用餐服务；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="line-height:150%">
						<span lang="EN-US" style="font-size:9.0pt;line-height:
						150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;color:#333333;
						mso-no-proof:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “</span><span style="font-size:9.0pt;line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
						mso-bidi-font-family:Tahoma;color:#333333;mso-no-proof:yes">微大学<span lang="EN-US">”</span>崇尚科学的订餐搭配，为您提供健康的饮食选择，让健康成为一种习惯；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="line-height:150%">
						<span lang="EN-US" style="font-size:9.0pt;line-height:
						150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;color:#333333">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; “</span><span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333">微大学<span lang="EN-US">”</span>密切联系商家，严格督促商家，共同打造精致的校园餐饮文化，用品质塑造品牌。<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="line-height:150%">
						<span style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
						mso-bidi-font-family:Tahoma;color:gray;mso-themecolor:background1;mso-themeshade:
						128;mso-bidi-font-weight:bold">为什么选择我们？<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="text-indent:21.0pt;line-height:150%">
						<span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333;mso-bidi-font-weight:bold">我们非常重视您的体验与意见，力求打造与大学生密不可分的生活服务平台；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="text-indent:21.0pt;line-height:150%">
						<span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333;mso-bidi-font-weight:bold">我们拥有专业的开发与维护团队，为您的个人资料和财产安全保驾护航；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="text-indent:21.0pt;line-height:150%">
						<span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333;mso-bidi-font-weight:bold">我们是大学生，更清楚大学生需要什么；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="text-indent:21.0pt;line-height:150%">
						<span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333;mso-bidi-font-weight:bold">我们不是商人，我们会给大学生争取到最大的折扣；<span lang="EN-US"><o:p></o:p></span></span>
					</p>

					<p style="text-indent:21.0pt;line-height:150%">
						<span style="font-size:9.0pt;
						line-height:150%;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
						color:#333333;mso-bidi-font-weight:bold">我们共同努力，打造全新的校园餐饮文化；<span lang="EN-US"><o:p></o:p></span></span>
					</p>
				</div>

			</div>
		</div>
	</div>
</body>
