 
<p style="line-height:150%"><b><span style="font-size:14.0pt;font-family:微软雅黑,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#365F91;mso-themecolor:accent1;mso-themeshade:
191">企业文化</span></b><span lang="EN-US" style="font-family:微软雅黑,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#BFBFBF;mso-themecolor:background1;
mso-themeshade:191">Culture</span><span lang="EN-US" style="font-size:9.0pt;
line-font-family:微软雅黑,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
color:#333333"><o:p></o:p></span></p>

<p style="text-indent:13.5pt;mso-char-indent-count:1.5;line-height:150%"><span style="font-size:9.0pt;font-family:微软雅黑,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">“微大学”就像一个新生的婴儿，倾注着几个在校大学生的热血意志和共同理想，在我们的不懈努力下，
<span lang="EN-US">2012</span>年的八月，大学生自己的在线餐饮平台在西南石油大学成功诞生了。我们本着服务大学生，方便大学生，帮大学生省钱的宗旨，全力创办大学生自主的线上交互平台。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="text-indent:20.95pt;mso-char-indent-count:2.33;line-height:150%"><span style="font-size:9.0pt;font-family:微软雅黑,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">创立伊始，“微大学”推出了全新的订餐服务，让订餐成为服务大学生的第一步。我们正坚实地走好这一步，共同努力，让它茁壮成长。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="text-indent:20.95pt;mso-char-indent-count:2.33;line-height:150%"><span style="font-size:9.0pt;font-family:微软雅黑;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">我们将广纳大学生们的意见和建议，一边按照期待做自主产品，一边服务大众做平台管理。所以，“微大学”是一个成长中的品牌，期待着，在广大青年学生的支持下，走得更加稳固，从而更好的为大学生服务，创造更多的惊喜。</span></p>
<p style="text-indent:20.95pt;mso-char-indent-count:2.33;line-height:150%"><span style="color: rgb(51, 51, 51); font-family: 微软雅黑, sans-serif; font-size: 9pt; line- text-indent: 20.95pt; ">“微大学”的创立者们均是在校大学生，他们更懂大学生，更贴近大学生，带着单纯的梦想，把大学的圈子文化带到生活中来，让“微大学”成为大学生的品牌。如果你也是大学生，那么，你就是“微大学”的主人。“微大学”会为你改变，为你成长，为你做所有事情，包括感动。</span></p>

<p style="text-indent:20.95pt;mso-char-indent-count:2.33;line-height:150%"><span lang="EN-US" style="font-size:9.0pt;font-family:微软雅黑;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp;</span><span style="font-size:9.0pt;font-family:微软雅黑,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">让我们共同呵护“微大学”，见证它，走进大学生的所有<span lang="EN-US">……<o:p></o:p></span></span></p>
