<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>About us</title>

</head>

<body> 
<p style="line-height:150%"></p><p style="line-height:150%"><b><span style="font-size:14.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#365F91;mso-themecolor:accent1;mso-themeshade:
191">常见问题</span></b><span lang="EN-US" style="font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#BFBFBF;mso-themecolor:background1;
mso-themeshade:191">Help</span><span lang="EN-US" style="font-size:9.0pt;
font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;mso-bidi-font-family:Tahoma;
color:#333333"><o:p></o:p></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp;</span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; "> 1</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、网上订餐靠谱吗？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;微大学订餐和餐厅是合作模式，用户只需轻轻一点，我们会用最快的速度将餐品送至您手中。您在微大学下单后，我们会立即将您的订单传达给餐厅，餐厅在确认订单后，使用绿色通道加急处理，做好后有专人负责派送，然后就坐等美味上门吧！<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt; font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp;</span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; "> 2</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、点完餐后，我怎么才知道我的订单动态呢？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;您可以去网站右上角<span lang="EN-US">“</span>我的订单<span lang="EN-US">”</span>中查看订单状态，如果是<span lang="EN-US">“</span>已确认<span lang="EN-US">”</span>，就说明餐厅已经看到您的订单，正在配送中啦。另外，您的订单被餐厅确认后，会收到我们的一条短信提示，不过有时会有延时哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp; </span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">3</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、我的餐饮多长时间能送到？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;和微大学合作的餐厅，我们都要求餐厅尽量将送餐时间控制在<span lang="EN-US">30</span>分钟内，对于处于饭点的订单可能会由于餐厅太忙造成一定的延误，我们会随时为您提供催单服务，还望您谅解。根据我们的经验，一般餐厅的送餐时间在<span lang="EN-US">30-40</span>分钟之间。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt; font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp; </span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">4</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、微大学负责送餐吗？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;微大学是专门为您提供订餐信息的平台，所有餐厅均由合作餐厅负责配送。平台运作前期为保证您的用餐速度，暂由平台安排人员负责派送。我们尽心尽力为您保证送餐速度，请您放心，若有做得不足的地方，还请谅解。考虑到微大学快递业务与平台的独立性，现将微大学订餐平台的快递收费细则公布如下：每笔订单1-2份加收1元快递费，3-5份加收2元快递费，6-8份加收3元快递费。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt; font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp; </span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">5</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、我一直没收到餐饮怎么办？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;您可以点击网站右上角的<span lang="EN-US">“</span>我的订单<span lang="EN-US">”</span>，然后使用催单功能，催单信息会立刻传达给餐厅哦。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt; font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp; </span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">6</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、积分兑换？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;当您成功交易一笔订单，只需要在个人中心的未评论订单中对我们进行评论，您即可获得相应的积分，当达到一定积分可以在平台兑换相应的奖品。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt; font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp; </span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">7</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、微大学快递业务流程？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;当您成功下了一笔订单，如果您是新注册用户，我们的工作人员会在最短时间内跟您取得联系，以确认您的身份，当您的身份确认后，会默认为系统确认用户。如果是系统确认用户
  在下次点餐后我们的催单员会直接去店里面催单，接着送餐员会去店里面取餐，直接送到您的手里，以保证每一个客户在最短时间内能够吃上可口的饭菜。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt; font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp; </span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">8</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、商家加盟流程？</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;需要加盟的商家，店家页面下面的我要开店链接填写店铺的详细信息，我们的工作人员会在最短时间内和您取得联系。<span lang="EN-US"><o:p></o:p></span></span></p>

<p style="line-height:150%"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; color: rgb(51, 51, 51); ">&nbsp; &nbsp;</span><font color="#993300"><span lang="EN-US" style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; "> 9</span><span style="font-size: 9pt;  font-family: 微软雅黑, sans-serif; ">、我还没有找到我需要的答案呢</span></font><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>
</span><span style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;您可以选择如下方式跟我们联系：<span lang="EN-US"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;1）</span>拨打我们的客服电话：<span lang="EN-US">18981974880<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;2）</span>加我们的客服<span lang="EN-US">QQ</span>：<span lang="EN-US"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;3）</span>联系我们的新浪微博：</span><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;"><a href="http://weibo.com/weidaxueme">http://weibo.com/<span lang="EN-US"><span lang="EN-US">weidaxueme</span></span><span lang="EN-US"><span lang="EN-US"> </span></span></a></span><span lang="EN-US" style="font-size:9.0pt;line-font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333"><br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;4）</span><span style="font-size:9.0pt;font-family:&quot;微软雅黑&quot;,&quot;sans-serif&quot;;
mso-bidi-font-family:Tahoma;color:#333333">如果您不是特别紧急，可以点击页面右侧的<span lang="EN-US">“</span>问题反馈<span lang="EN-US">”</span>按钮，写下您希望的疑问，稍后您便可以在<span lang="EN-US">“</span>个人中心<span lang="EN-US">”</span>中查看我们的回复。<span lang="EN-US"><o:p></o:p></span></span></p><p></p>
</body>
</html>
