@import "utilities/variables";

.footer {
  background-color: $primary-color;
  height: 80px;
  clear: both;
  color: white;
  .links {
    line-height: 30px;
    margin-top: 20px;
    a { 
      color: white;
      display: inline-block;
      margin-right: 15px;
    }
  }
  .col-xs-4 { 
    line-height: 20px;
    padding: 0px;
    img.qrq { 
      width: 80px;
      float: left; 
      margin-right: 10px;
    }
    span {
      display: block;
      font-size: 1.2em;
      color: yellow;
      margin: 5px 0px 10px;
    }
    ul {
      margin-left: 65px;
      list-style-type: decimal;
    }
  }
}

#scrollUp {
  position: fixed;
  display: none;
  background-color: #777;
  color: #eee;
  font-size: 40px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  bottom: 20px;
  right: 20px;
  overflow: hidden;
  width: 46px;
  height: 46px;
  border: none;
  opacity: .8;
}

#scrollUp:hover{
  color: #eee;
  background-color: #222;
}