@import "utilities/variables";

.header {
  height: $header-height;
  width: 100%;
  background: $primary-color;

  input {
    width:185px;
    height:30px;
    background:#FFF;
    border:0;
    color:#999;
    float:left;
    text-indent:5px;
  }

  input:focus {
    outline:none;
  }
}

.brand-logo {
  width: 163px;
  float: left;
  background: $primary-color;
}

ul.navs.navbar-nav{
  padding-left: 7px;
  margin: 0px;
  li { 
    width: 44px;
    line-height: $header-height;
    height: $header-height;
    text-align: center;
    cursor: pointer;
    list-style-type: none;
    float: left;
    .icon {
      font-size: 21px;
      color: #fff;
      line-height: $header-height;
    }
  }
}

.navbar-form { padding: 0px; }
.navbar-form .submit-btn {
  padding: 5px 6px 7px 6px;
  background: white;
  cursor:pointer;
  font-size: 18px;
  color: $primary-color;
  border: 0px;
}