<div class="main_content_tab">
	<ul>
		<li <%if tab_index==1%>class="now"<%end%>>
			<a href="/users/home">基本信息</a>
		</li>
		<li <%if tab_index==2%>class="now"<%end%>>
			<%= link_to "我的订单",orders_users_path(:status=>:building)%>
		</li>
		<li <%if tab_index==3%>class="now"<%end%>>
			<%= link_to "我的收藏", collects_users_path%>
		</li>
		<li <%if tab_index==4%>class="now"<%end%>>
			<%= link_to "我的私信",mails_users_path(:status=>:unread)%>
		</li>
		<li <%if action_name=="score_histories"%>class="now"<%end%>>
			<a href="/users/score_histories">我的积分</a>
		</li>
		<li <%if action_name=="welfare"%>class="now"<%end%>>
			<a href="/users/welfare">我的礼品</a>
		</li>
		<li <%if tab_index==5%>class="now"<%end%>>
			<a href="/users/address">送餐地址</a>
		</li>
		<li <%if tab_index==6%>class="now"<%end%>>
			<a href="/users/account">账户安全</a>
		</li>

	</ul>
</div>