<%= render :partial => 'tab', :locals => {:tab_index => @tab_index} %>
<div class="main_content_details">
	<div class="main_content_details_top">
		<p>
			&nbsp;
		</p>
		<p>
			&nbsp;
		</p>
	</div>
<%=render :partial=>"mail"%>
</div>
