<div class="ordering_center_right_tel">
	<div class="ordering_center_right_telpic"><img src="images/icon/TEL.png" width="54" height="54" />
	</div>
	<div class="ordering_center_right_telnum">
		<div class="ordering_center_right_telnum1">
			180&nbsp;1062&nbsp;9329
		</div>
		<div class="ordering_center_right_telnum2">
			工作时间：周一至周日8：00—22:00
		</div>
	</div>
</div>

<div class="ordering_center_right_interactive">
	<div class="ordering_center_right_interactive_title">
		<div class="ordering_center_right_interactive_title_pic">
			<img src="/images/icon/sina_b.png" width="16" height="16" />
		</div>
		<div class="ordering_center_right_interactive_title_text">
			微博互动
		</div>
	</div>

	<iframe width="100%" height="450" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=450&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=2969909902&verifier=c514d0e3&dpc=1"></iframe>

</div>
 <div id="otherlogin" class="bind_window" style="display:none">
 	<div class="window_title">
    <div>
    	<span>第三方账号</span>成功登陆，请绑定您的邮箱
    </div>
    <div>
    </div>
  </div>
     <div class="window_detail">
				<p id="msg" style="color:red;margin-left: 130px;margin-top: -10px;padding-bottom: 20x;"></p>
	      <div class="window_label label1">
	         	<p>邮箱</p>
	             	<input id="email" type="text" class="window_input" size="30" maxlength="30" name="email"/>
	         </div>
	         <div class="window_label label1">
	         	<p>密码</p>
	             	<input id="password" type="password" class="window_input" size="30" maxlength="30" name="password"/>
	         </div>
	         <div class="window_label label2">
              <input type="submit" name="login" onclick="login_other(1)" value="绑定"/>
	            <input  type="submit" name="nobing" onclick="login_other(0)" value="不绑定"/>
	          </div>
	        </div>
</div>
