<div class="admin-breadcrumb">
  <ul class="breadcrumb">
        <li><a href="/admins">Home</a> <span class="divider">/</span></li>
        <li><a href="/admins/ads"><%=controller_name%></a> <span class="divider">/</span></li>
        <li class="active"><%=action_name%></li>
  </ul>
</div>

<%=render :partial => 'admins/flash', :locals => {:flash => flash} %>

<ul class="nav nav-tabs">
      <li title="" rel="" class="icon index_collection_link ">
        <a class="pjax" href="/admins/vmails">
              <i class="icon-th-list"></i>
              <span>List</span>
        </a>
      </li>
      <li title="新建" rel="" class="icon export_collection_link active">
        <%=link_to raw('<i class="icon-plus"></i><span>Add new</span>'),
                new_admins_ad_path, :class => 'pjax'%>
      </li>
</ul>
