
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="/css/ordering_shopkeeper.css" rel="stylesheet" type="text/css" />
		<script type="text/javascript" src="/javascripts/jquery-1.7.2.min.js"></script>
	</head>

	<body>
		<div id="ordering_personalcenter_left_content">
			<div id="ordering_personalcenter_left_userimg">
							
						</div>
						<div id="ordering_personalcenter_left_ortherinfo">
							<div class="ordering_personalcenter_left_ortherinfo_box1"></div>
							
						</div>
						<div class="ordering_personalcenter_left_menu">
							<div class="ordering_personalcenter_left_menu_title">
								交易管理
							</div>
							<div class="ordering_personalcenter_left_menu_buttons">
								<input type="button" value="我的微单" class="ordering_personalcenter_left_menu_buttonstyle"
								onclick="location='/stores/store_center_order'" />
								<input type="button" value="我的评价" class="ordering_personalcenter_left_menu_buttonstyle"
								onclick="location='/stores/store_center_comment'" />
								<input type="button" value="我的留言" class="ordering_personalcenter_left_menu_buttonstyle"
								onclick="location='/stores/store_center_message'" />
								<input type="button" value="菜单管理" class="ordering_personalcenter_left_menu_buttonstyle"
								onclick="location='/stores/store_center_add_category'" />
							</div>

							<div class="ordering_personalcenter_left_menu_title">
								售后服务
							</div>
							<div class="ordering_personalcenter_left_menu_buttons">
								<input type="button" value="餐品质量反馈" class="ordering_personalcenter_left_menu_buttonstyle"
								onclick="location='#'" />
								<input type="button" value="投诉记录" class="ordering_personalcenter_left_menu_buttonstyle"
								onclick="location='#'" />

								<div class="ordering_personalcenter_left_menu_title">
									资料管理
								</div>
								<div class="ordering_personalcenter_left_menu_buttons">
									<input type="button" value="餐厅资料" class="ordering_personalcenter_left_menu_buttonstyle"
									onclick="location='/stores/store_center_info'" />

									<input type="button" value="密码安全" class="ordering_personalcenter_left_menu_buttonstyle"
									onclick="location='/stores/store_center_password'" />

								</div>
							</div>
						</div>
						</div>

	</body>
</html>
