<%= render 'topbar'%>
<ul class="nav nav-tabs">

	<li title="" rel="" class="icon index_collection_link ">
		<a class="pjax" href="/admins/station_mails/"> <i class="icon-th-list"></i> <span>显示所有站内新</span> </a>
	</li>

	<li title="" rel="" class="icon new_collection_link active ">
		<a class="pjax" href="/admins/station_mails/new"> <i class="icon-plus"></i> <span>新建站内信</span> </a>
	</li>
	<li title="" rel="" class="icon new_collection_link  ">
		<a class="pjax" href="/admins/station_mails/new_user"> <i class="icon-plus"></i> <span>发送给指定人</span> </a>
	</li>
</ul>
<%= render 'form' %>

