@import "utilities/variables";
@import "scroll-up";

body {
  margin:0;
  padding:0;
  font-family:"宋体, Helvetica Neue, Helvetica, Arial, Microsoft Yahei, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif";
  font-size:12px;
  background: $background-color;
}

.container {
  min-width: 800px;
  max-width: 960px;
  width: 100%;
  padding: 0px;
}

.row {
  margin: 0px;
}
