
    <div id="integral" class="show_faq" style="">
      <h2>积分攻略</h2>
      <p>
        积分体系是为回馈全体微大学会员而建立的，会员可以用积分参与幸运抽奖、积分兑换等活动。微大学还会陆续完善积分体系，不断推出积分获取与消耗的新途径，让每位会员在微大学吃得放心、玩的开心！
      </p>
      <h3>在微大学怎样获得积分？</h3>
      <table class="tab1" cellspacing="1" cellpadding="0">
        <tbody>
          <tr>
            <th width="20%">操作</th><th width="20%">获得积分</th><th>详细说明</th>
          </tr>
          <tr>
            <td>签到</td><td>1（每天最高+3）</td><td>签到1天得1分，连续签到2天得2分，连续签到3天及以上可得3分，如果连续签到中断则从头开始</td>
          </tr>
          <tr>
            <td>发表晒单帖</td><td>4-16（无上限）</td><td>微大学客服会根据帖子质量给予晒单帖相应积分奖励，一般为4-16分之间，晒单发帖积分无上限要求，具体晒单内容包括订餐晒单，抽奖晒单等.</td>
          </tr>
          <tr>
            <td>订餐评论<br></td><td>（无上限)</td><td>成功订餐后可对订单进行评论，评论成功及按照每笔订餐价格进行加分.1元可兑换1积分，不足1元也算1积分</td>
          </tr>
        </tbody>
      </table>
      <h3>获得了积分后，我能做什么？</h3>
      <table class="tab2" cellspacing="1" cellpadding="0">
        <tbody>
          <tr>
            <th width="20%">操作</th><th width="24%">获得积分</th><th>详细说明</th>
          </tr>
          <tr>
            <td>参与幸运抽奖活动</td><td>减相应积分（5-20分不等）</td><td>不同活动会有不同积分消耗，详情见
              <a href="/cj" style="color:#C00;">抽奖活动详情页</a>
          </td>
          </tr>
          <tr>
            <td>参与积分兑换活动</td><td>减相应积分</td><td>不同活动会有不同积分消耗，详情见兑换活动详情页</td>
          </tr>
           <tr>
            <td>参与积分兑换餐品</td><td>减相应积分</td><td>不同餐品会有不同积分消耗</td>
          </tr>
        </tbody>
      </table>
      <h3>幸运抽奖规则</h3>
      <p>1、活动开始后，所有注册会员均可点击“我要抽奖”按钮参与幸运抽奖活动</p>
      <p>2、所有中奖得到的礼品不收取任何费用</p>
      <p>3、参与幸运抽奖需要花费相应的积分，并且无论中奖与否积分不退</p>
      <p>4、为增加中奖率，每位会员可多次参与幸运抽奖，但需要花费多倍相应积分</p>
      <p>5、开奖后页面会展示中奖会员名单，中奖会员可以从“我的礼品”中查看中奖信息</p>
      <h3>注意事项</h3>
      <p>1、微大学内部员工禁止参加任何会员积分活动</p>
      <p>2、提前登录微大学账号再参与活动，这样才能快人一步</p>
      <p>3、活动礼品发出30天内请到论坛进行晒单分享,可增加更多积分</p>
      <p>4、发表晒单帖时请注意遵守论坛发帖规范，如有违反将有可能取消参与积分活动的资格</p>
      <p>5、请准确填写收货地址和电话,如因填写的地址或电话有误导致的奖品丢失，积分不退</p>
    </div>
  </div>