<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8'>
</head>
<body>
<h1>尊敬的:<%= @resource.email %>!</h1>
<p>您好！如果您忘记了密码</p>
<p>这是一封重置密码邮件，请点击以下链接确认：</p>
<p><%= link_to '重置密码', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>
<p>如果链接不能点击，请复制<%= edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)%>地址到浏览器，然后直接打开</p>
<p>上述链接48小时内有效。如果激活链接失效，请您登录网站 http://www.weidaxue.me/ 重新申请认证。</p>
<p>感谢您注册微大学！</p>
</body>
</html>
