		<div class="modal hide fade" id="myModal">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>选择日期</h3>
			</div>
			<%= form_tag('/admins/orders', :method=>"get" ) %>
			<div class="modal-body controls">
			      <input class="input-xlarge datepicker hasDatepicker" id='date01' type="text"> 
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" data-dismiss="modal">关闭</a>
				<%= submit_tag "保存设置", :class => 'btn btn-primary'  %>
			</div>
		</div>